.create-plant-modal {
  background-color: rgba(240,240,240,0.1);
  width: 238px;
  height: 350px;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.create-plant-modal-content {
padding: 5% 5% 5% 5%;
height: 350px;
}

.create-plant-modal-content h1{

}

.create-plant-modal-buttons{
display: flex;
justify-content: space-between;
}

.submit-icon:hover{
color: rgba(0, 178, 139, 1);
}

.cancel-icon:hover{
color: rgba(229, 112, 102, 1);
}
