.add-plant-card {
   background: white;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   border-radius: 5px;
   height: 350px;
   width: 238px;
   margin: 60px 6px;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
