.plant-card {
  background: white;
  border-radius: 5px;
  height: 350px;
  width: 238px;
  margin: 60px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  min-height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.card-item p {
  margin: 2px;
}

.card-item2 {
  margin-left: 20px;
}

.card-item-info-box {
  width: 200px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #1F3E18;
  margin: 1vh 0;
}

.card-item-info-box span {
  width: 50px;
  margin-left: 0;
}

.card-item-info-box p {
  font-size: 2vh;
  width: 100px;
}

.card-edit {
  height: 50px;
}

.plant-edit-button {
  margin: 5px;
  border: none;
  background: none;
  color: #1F3E18;
}

.plant-edit-button:hover {
  margin: 5px;
  border: none;
  background: none;
  color: rgba(0, 178, 139, 1);
}
